[Unit]
Description=Coffer Server - Public Patronage Backend

[Service]
ExecStart=/usr/local/bin/coffer serve
Restart=always

[Install]
WantedBy=multi-user.target
