[Unit]
Description=Studio Pollinator internet API

[Service]
ExecStart=/usr/local/bin/studiopollinator-api
Restart=always

[Install]
WantedBy=multi-user.target
